{% extends 'company_app/base_company.html' %}
{% block content_company %}
<main class="container mt-3 pb-5">
    <div class="row mt-5">
      <!-- Боковая навигационная панель
        Элемент <aside> html5 представляет собой раздел страницы с контентом, который может рассматриваться отдельно от основного содержания -->
      <div class="col-12 col-lg-4">
          <aside class="pt-3 pb-4 px-4 mb-5 card shadow p-1 mb-2 rounded">
            <h1 class="h4 pt-2 pb-2">Моя компания</h1>
            <div class="nav flex-column nav-pills">
                <a class="nav-link active" href="{% url 'company_start' %}">1. Информация о&nbsp;компании</a>
                <a class="nav-link" href="{% url 'company_vacancies' object.pk %}">2. Вакансии</a>
            </div>
          </aside>
      </div>

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                       {% for field in form %}
                          {% for error in field.errors %}
                            <div class="text-danger">В поле <b>{{ field.label }}</b> {{ error|escape }}</div>
                          {% endfor %}
                       {% endfor %}
                    {% endif %}

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">Название компании</label>
                      <input type="text"  class="form-control" name="{{ form.title.name }}"  value="{{ form.title.value }}">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark">Логотип</label>
                       <h5 style="font-size:70%">Размер файла логотипа не должен превышать 2 Мб</h5>
                      <div class="row d-flex align-items-end">
                            <div class="col-6">
                              <img class="d-block mw-100 " id="output" src="{{ form.logo.value.url }}"/>
                                <script>
                                  var loadFile = function(event) {
                                    var output = document.getElementById('output');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                    output.onload = function() {
                                      URL.revokeObjectURL(output.src) // free memory
                                      }
                                  };
                                </script>
                            </div>
                      </div>

                        <div class="row d-flex  align-items-end">
                            <div class="col"> <!--style="position: relative;"-->
                                <div class="input-group-prepend my-2" style="font-size:85%">
                                    <input type="file" name="logo" accept="image/*" onchange="loadFile(event)">
                                </div>
                            </div>
                        </div>

                      </div>
                    </div>
                  </div>

                <div class="row my-3">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">Количество человек в компании</label>
                      <input type="text" class="form-control" name="{{ form.employee_count.name }}" value="{{ form.employee_count.value }}">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark">География</label>
                      <input class="form-control" type="text" name="{{ form.location.name }}" value="{{ form.location.value }}">
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="companyInfo">Информация о&nbsp;компании</label>
                  <textarea class="form-control" name="{{ form.description.name }}" rows="5" id="companyInfo" style="color:#000;">{{ form.description.value }}</textarea>
                </div>
                <div class="row d-flex ">
                    <div class="form-group col-6">
                        <input type="submit" class="btn btn-info" value="Применить изменения">
                    </div>
                    <div class="col-6">
                         <div class="d-flex justify-content-end">
                             <a class="btn btn-outline-danger" role="button" href="{% url 'company_del' object.pk %}">Удалить</a>
                         </div>
                    </div>
                </div>
              </form>

            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}