{% extends 'base.html' %}
{% block content %}
<head>
  <style>
    body {background-color: #F6F2E6; }
  </style>
</head>

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card shadow p-1 mb-2 rounded">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2">Моя компания</h1>
        <p class="mt-2">Пока мы думаем, что Вы – частное лицо. Если Вы работодатель и хотите разместить информаию о вакансиях, создайте карточку компании</p>
        <a href="{% url 'company_create' %}" class="btn btn-info mb-2">Создать карточку компании</a>
      </div>
    </section>
  </main>

{% endblock %}
