{% extends 'base.html' %}
{% block content %}

  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-5" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="text-center mt-4 b-1">
                <h1 class="h3 mb-3 font-weight-normal">Job Hunt</h1>
                <p class="h5 font-weight-light">Войдите, чтобы управлять</p>
            </div>
             {% if form.errors %}
                <div class="text-danger"><p>Введённый Логин или пароль не подходит. Попробуйте ещё раз</p></div>
             {% endif %}
            <div class="mt-5 form-label-group">
                <p class="text-muted">Логин</p>
<!--                {{ form.username }}-->
                <input type="text" name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:'' }}"
                       class="form-control" required autofocus>
<!--                <label for="inputLogin"></label>-->
            </div>
            <div class="mt-3 form-label-group">
                <p class="text-muted"> Пароль</p>
<!--                {{ form.password }}-->
                <input type="password" name="{{ form.password.name }}" class="form-control" required>
            </div>
            <div class="checkbox mb-3"></div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
        </form>

        <div class="mt-4 text-center"><p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь!</a></p></div>

      </div>
    </div>
  </main>
{% endblock %}